<ion-content>
  <!-- BACKGROUD-->
  <div class="overlay">
    <!-- OVERLAY -->
    <div class="bg-login">
      <!-- Login Container-->
    
      <!-- Logo-->
    <div>
        <img src="assets/img/logo.png"/>
    </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- min 18:40 -->
</ion-content>
<!-- https://www.youtube.com/watch?v=lAiM7lB7FPw&t=424s  -->
<!-- https://www.youtube.com/watch?v=UsJ7zsKx_v0-->

<!-- teste img funcionando - <img src="assets/img/login.png"/> -->