//Impor Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700&display=swap');

//Global
*{
    font-family: 'Montserrat', sans-serif;
}

//Color
.purple {
    color: #purple
}

.orange{
    color: #orange
}
.dark{
    color: #dark
}
.snow{
    color: #snow
}
.coor{
    color: #gray
}

